

#covid-banner {
    text-align: center;
    background-color: #FFD978;
    margin: 1vh;
    padding: 0.2vh;
    border: solid 1px var(--navy);
    font-size: 17px;
}

#home h1 {
    margin: 5vh;
}

#mission-statement {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 22px;
}

#mission-statement p {
    width: 65%;
}

#intro-pics {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5vh 0;
}

#intro-pics img {
    width: 20%;
    margin: 0vh 1vw;
    border: solid 2px var(--navy);
}

#description {
    display: flex;
    align-items: center;
    justify-content: center;
}

#description p {
    width: 65%;
    font-weight: 300;
    line-height: 100%;
    font-size: 1.5vw;
}