#covid-banner {
    text-align: center;
    background-color: #FFD978;
    margin: 1vh;
    padding: 0.2vh;
    font-size: 17px;
}

#home h1 {
    margin: 5vh;
    font-size: 80px;
    color: var(--mid-blue);
    -webkit-text-stroke: 1px var(--navy);
    /* background: -webkit-linear-gradient(0deg,#1c2f8e, #677cdb);
    background-clip: text;
    -webkit-text-fill-color: transparent; */
    /* color: white; */
    /* font-size: 85px; */
}

#mission-statement {
    margin: auto;
    text-align: center;
    font-weight: 400;
    font-size: 24px;
    width: 70%;
}

#intro-pics {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5vh 0;
}

#intro-pics img {
    width: 20%;
    margin: 0vh 1vw;
    border: solid 1px var(--navy);
}

#description {
    margin: auto;
    width: 70%;
}

#my-carousel {
    display: flex;
    justify-content: center;
    margin: 7vh auto;
}

.carousel {
    width: 55%;
    background-color: var(--navy);
}

.carousel-item.active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--light-blue);
    font-weight: 400;
    font-size: 19px;
    height: 38vh;
}

.stars svg {
    color: #FFD978;
    margin-bottom: 2vh;
}

.carousel-item.active p {
    max-width: 65%;
}

.carousel-item.active span {
    font-size: 17px;
}


#covid-advisory {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right,var(--background)15%, #FFF59B 15%, #FFF59B 85%,var(--background) 85%);
    font-weight: 300;
    line-height: 130%;
    font-size: 20px;
    margin-bottom: 7vh;
}

#covid-advisory h2 {
    font-weight: 600;
    font-size: 40px;
}

#covid-advisory p {
    text-align: left;
    width: 65%;
}

#covid-advisory ol {
    text-align: left;
    background-color: #FFD978;
    width: 65%;
}

@media (max-width: 1025px) {
    #home h1 {
        font-size: 60px;
        margin: 3vh;
    }

    #mission-statement, #description {
        width: 95%;
    }

    #intro-pics img {
        width: 25%;
    }

    .carousel {
        width: 90%;
    }

    .carousel-item.active {
        height: 30vh;
    }

    .carousel-item.active p {
        max-width: 75%;
    }

    #covid-advisory {
        background: linear-gradient(to right,var(--background)2%, #FFF59B 2%, #FFF59B 98%,var(--background) 98%);
    }

    #covid-advisory p, #covid-advisory ol {
        width: 90%;
    }
}

@media (max-width: 415px) {
    #home h1 {
        font-size: 40px;
        margin: 1vh;
    }

    #mission-statement {
        font-weight: 400;
        font-size: 21px;
    }

    #intro-pics {
        flex-direction: column;
        align-items: center;
        margin: 0;
    }

    #intro-pics img {
        width: 77%;
        margin: 2vh 0; 
    }

    .carousel-item.active {
        height: 40vh;
    }

    .carousel-item.active p {
        font-size: 18px;
    }
    
    .carousel-item.active span {
        font-size: 17px;
    }
}

@media (max-width: 321px) {
/* font adjustment for iPhone SE */
    #mission-statement, #description, #covid-advisory p, #covid-advisory ol {
        font-size: 18px;
    }

    #covid-advisory h2 {
        font-size: 33px;
    }
}
