#blurb {
    margin: auto;
    width: 90%;
    text-align: center;
}

#new-pet-registration h2, #new-pet-registration h3 {
    text-align: center;
}

.alt-background {
    background-color: var(--alt-background);
}

.alt-background, #normal-background{
    padding: 5vh 0;

}

form {
    width: 65%;
    margin: auto;
}

.form-control, .form-select {
    background-color: rgba(255, 255, 255, 0.534);
    /* border: 1px solid rgba(var(--navy), 1); */
}

.form-label, .form-check-label {
    font-size: 18px;
}

.form-text {
    font-size: 16px;
}

.required.form-label::after{
    content:'*';
    color: red;
}

.r {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.r-space > * {
    margin-right: 2vw;
}

#mobile {
    width: 35%;
}

#street, #city {
    width: 32.5%;
}

#state {
    width: 20%;
}

#zipcode {
    width: 15%;
}

#pobox {
    width: 15%;
    margin-left: 2vw;
}

#license {
    width: 20%;
}

#date {
    width: 25%;
}

#pet-names {
    width: 50%;
}

.textbox {
    width: 40%;
}

@media (max-width: 1230px) {
    form {
        width: 90%;
    }
}

@media (max-width: 775px) {
    .r {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .r > *, #street, #city, #state, #zipcode, #pobox {
        width: 100%;
    }

    #street, #city, #state, #zipcode, #pobox {
        margin: 0;
        margin-bottom: 1rem;
    }
    
}

@media (max-width: 500px) {
    #new-pet-registration h1 {
        font-size: 43px;
        margin: 2vh;
    }

    #license, #date, #pet-names, .textbox {
        width: 100%;
    }

    #mobile {
        width: 50%;
    }

    .form-label, .form-check-label, .form-text {
        font-size: 22px;
    }

}



