#our-staff h2 {
    text-align: center;
    /* margin-bottom: 4vh; */
    margin-bottom: 0;
    /* margin-top: 3vh; */
    font-size: 40px;
}

#vets h2 {
    padding-top: 5vh;
}

#vets {
    background-color: var(--alt-background);
}

.person {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 7vh auto;
}

.person img {
    border: solid 1px var(--navy);
    display: block;
    max-width:230px;
    max-height:275px;
    width: auto;
    height: auto;
}

.person h4 {
    margin: 0;
    font-size: 23px;
}

.bio {
    margin-left: 1.5vw;
}

.bio p {
    margin-top: 1vh;
}

@media (max-width: 800px) {
/*column format when text gets awkwardoly squished*/
    .person {
        flex-direction: column;
        align-items: center;
        width: 90%;
    }

    .bio {
        margin: 2vh 0 0;
    }

    .bio h3, .bio h4 {
        text-align: center;
    }
}

@media (max-width: 500px) {
    #our-staff h1 {
        font-size: 43px;
        margin: 2vh;
    }

    #our-staff h2 {
        font-size: 35px;
    }
}