#services h1, #our-staff h1, #new-pet-registration h1, #contact-us h1 {
    margin: 5vh;
    font-size: 55px;
    color: var(--mid-blue); 
    -webkit-text-stroke: 1px var(--navy);
    line-height: 100%;
    padding: 0;
}

#services p {
    width: 65%;
    margin: 0 auto;
}

#list-of-lists {
    display: flex;
    margin-top: 3vh;
    padding-top: 3vh;
    padding-bottom: 1vh;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: var(--alt-background);
}

#services svg {
    margin: 0 auto;
    color: var(--navy);
    height: 35px;
    width: 35px;
}

#services h2 {
    margin-top: 2vh;
    text-align: center;
}

.service-list {
    display: flex;
    flex-direction: column;
    width: 25%;
}

.service-list ul {
    font-size: 20px;
}