#services h1, #our-staff h1, #new-pet-registration h1, #contact-us h1 {
    margin: 5vh;
    font-size: 55px;
    color: var(--mid-blue); 
    -webkit-text-stroke: 1px var(--navy);
    line-height: 100%;
    padding: 0;
}

#services p {
    width: 65%;
    margin: 0 auto;
}

#list-of-lists {
    display: flex;
    margin-top: 3vh;
    padding-top: 3vh;
    padding-bottom: 1vh;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: var(--alt-background);
}

#services svg {
    margin: 0 auto;
    color: var(--navy);
    height: 35px;
    width: 35px;
}

#services h2 {
    margin-top: 2vh;
    text-align: center;
}

.service-list {
    display: flex;
    flex-direction: column;
    width: 25%;
}

.service-list ul {
    font-size: 20px;
}

@media (max-width: 1025px) {
/* adjusting for tablet */
    #services p {
        width: 90%;
    }
}

@media (max-width: 775px) {
/* adjusting list to be columns when screen gets small enough */
    #list-of-lists {
        flex-direction: column;
        align-items: center;
    }

    .service-list {
        width: 90%;
        margin: 3vh 0;
    }

    .service-list ul {
        width: 50%;
        margin: auto;
    }
}

@media (max-width: 500px) {
/* adjusting list width when screen gets small enough */
    .service-list ul {
        width: 95%;
        margin: auto;
    }
}

@media (max-width: 495px) {
/* adjusting title when it goes on two lines */
    #services h1 {
        font-size: 43px;
        margin: 2.5vh;
    }
}