:root {
    --navy: #000C4A;
}



.navbar {
    font-family: 'League Spartan';
    text-align: center;
    font-weight: 600;
    font-size: 18px;
}

.bg-light {
    background-color: var(--navy) !important;
}

.navbar-collapse {
    justify-content: center;
    align-items: center;
}

.navbar-light {
    --bs-navbar-color: #E4E9FF;
    --bs-navbar-hover-color: #91a5ff;
    --bs-navbar-active-color: #91a5ff;
}

.dropdown-menu.show {
    background-color: #E4E9FF;
    --bs-dropdown-link-hover-bg: #ffffff; 
    --bs-dropdown-border-color: var(--navy);
}

.navbar-nav .external-link.nav-link.active {
    color: #E4E9FF;
}

.external-link.nav-link:hover, .external-link.nav-link.active:hover {
    color: #91a5ff;
}

h1 {
    text-align: center;
    font-family: 'League Spartan';
    font-weight: 700;
    font-size: 65px;
}

body {
    font-family:'League Spartan';
    background-color: #ccd5ff;
}

@import '~bootstrap/dist/css/bootstrap.css';