@font-face {
    font-family: "Quattrocento";
    src: url(../public/fonts/Quattrocento/Quattrocento-Regular.ttf);
}

@font-face {
    font-family: "Quattrocento";
    src: url(../public/fonts/Quattrocento/Quattrocento-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: "Quattrocento Sans";
    src: url(../public/fonts/Quattrocento_Sans/QuattrocentoSans-Regular.ttf);
}

@font-face {
    font-family: "Quattrocento Sans";
    src: url(../public/fonts/Quattrocento_Sans/QuattrocentoSans-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: "Alata";
    src: url(../public/fonts/Alata/Alata-Regular.ttf);
}

.dropdown-menu.show {
    background-color: #E4E9FF;
    --bs-dropdown-link-hover-bg: #ffffff; 
    --bs-dropdown-border-color: #000C4A;
}

h1 {
    text-align: center;
    font-family: 'Alata';
}

body {
    font-family:'Quattrocento';
}


.navbar {
    font-family: 'Quattrocento Sans';
    text-align: center;
    font-weight: bold;
}

.navbar-collapse {
    justify-content: center;
    align-items: center;
}

/* .nav-link {
    color: #E4E9FF;
} */

.navbar-light {
    --bs-navbar-color: #E4E9FF;
}


.bg-light {
    background-color: #000C4A !important;
}

@import '~bootstrap/dist/css/bootstrap.css';